rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to collections for authenticated users
    match /accountsPayable/{document} {
      allow read, write: if request.auth != null;
    }
    match /payablePayments/{document} {
      allow read, write: if request.auth != null;
    }
    match /banks/{document} {
      allow read, write: if request.auth != null;
    }
    match /cardDeposits/{document} {
      allow read, write: if request.auth != null;
    }
    match /closures/{document} {
      allow read, write: if request.auth != null;
    }
    match /config/{document} {
      allow read, write: if request.auth != null;
    }
    match /configs/{document} {
      allow read, write: if request.auth != null;
    }
    match /pending_sales/{document} {
      allow read, write: if request.auth != null;
    }
    match /customers/{document} {
      allow read, write: if request.auth != null;
    }
    match /customerPayments/{document} {
      allow read, write: if request.auth != null;
    }
    match /customerRefunds/{document} {
      allow read, write: if request.auth != null;
    }
    match /employees/{document} {
      allow read, write: if request.auth != null;
    }
    match /movements/{document} {
      allow read, write: if request.auth != null;
    }
    match /priceLists/{document} {
      allow read, write: if request.auth != null;
    }
    match /productPrices/{document} {
      allow read, write: if request.auth != null;
    }
    match /products/{document} {
      allow read, write: if request.auth != null;
    }
    match /sales/{document} {
      allow read, write: if request.auth != null;
    }
    match /supplierReturns/{document} {
      allow read, write: if request.auth != null;
    }
    match /suppliers/{document} {
      allow read, write: if request.auth != null;
    }
    
    // Default fallback rule
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
